Repository TEAM-AAAAAAAAAAAAAAAA/RTYPE, pull requests merged in 2022-10, with the labels that each got.

#34 2 ecs sparsearrayclass
  .github/workflows/ci.yml
  .gitignore
  CMakeLists.txt
  cmake/CompilerFlags.cmake
  src/CMakeLists.txt
  src/ecs/CMakeLists.txt
  src/ecs/Constant.hpp
  src/ecs/Entity.hpp
  src/ecs/Registry.hpp
  src/ecs/SparseArray.hpp
  src/ecs/components/CMakeLists.txt
  src/ecs/components/InputMoveUp.hpp
  src/ecs/components/Position.hpp
  src/ecs/ecs.cpp
  src/game/CMakeLists.txt
  src/main.cpp
  tests/CMakeLists.txt
  tests/unit_tests/CMakeLists.txt
  tests/unit_tests/ecs/CMakeLists.txt
  tests/unit_tests/ecs/registry/CMakeLists.txt
  tests/unit_tests/ecs/registry/registryTests.cpp
  tests/unit_tests/ecs/sparse_array/CMakeLists.txt
  tests/unit_tests/ecs/sparse_array/sparseArrayTests.cpp
  tests/unit_tests/ecs/systems/CMakeLists.txt
  tests/unit_tests/ecs/systems/systemsTests.cpp
Labels: ECS

#43 Feat/ecs/bullet systems
  src/demo/Demo.cpp
  src/ecs/AssetManager.hpp
  src/ecs/Constant.hpp
  src/ecs/Engine.hpp
  src/ecs/Event.hpp
  src/ecs/Registry.hpp
  src/ecs/SparseArray.hpp
  src/ecs/World.hpp
  src/ecs/components/CMakeLists.txt
  src/ecs/components/Controllable.hpp
  src/ecs/components/Direction.hpp
  src/ecs/components/Drawable.hpp
  src/ecs/components/Health.hpp
  src/ecs/components/Position.hpp
  src/ecs/components/Projectile.hpp
  src/ecs/components/Shootable.hpp
  src/ecs/components/Weapon.hpp
  src/ecs/systems/CMakeLists.txt
  src/ecs/systems/Draw.hpp
  src/ecs/systems/HandleSFMLEvents.hpp
  src/ecs/systems/HandleSFMLKeys.hpp
  src/ecs/systems/HandleSFMLMovements.hpp
  src/ecs/systems/ManageClientEvents.hpp
  src/ecs/systems/Movement.hpp
  src/ecs/utils/Window.hpp
Labels: ECS, GUI

#56 Feat/ecs/hitreg
  src/demo/Demo.cpp
  src/ecs/Registry.hpp
  src/ecs/SparseArray.hpp
  src/ecs/components/CMakeLists.txt
  src/ecs/components/Faction.hpp
  src/ecs/components/Projectile.hpp
  src/ecs/components/Weapon.hpp
  src/ecs/systems/CMakeLists.txt
  src/ecs/systems/Draw.hpp
  src/ecs/systems/ManageClientEvents.hpp
  src/ecs/systems/Movement.hpp
  src/ecs/systems/ProjectileCollision.hpp
Labels: ECS, SERVER

#57 Feat/ecs/integrate client
  .gitignore
  src/CMakeLists.txt
  src/client/CMakeLists.txt
  src/client/NetworkClient.hpp
  src/client/entrypoint.cpp
  src/demo/CMakeLists.txt
  src/ecs/Constant.hpp
  src/ecs/Registry.hpp
  src/ecs/components/CMakeLists.txt
  src/ecs/components/ClientSocket.hpp
  src/ecs/components/Drawable.hpp
  src/ecs/components/Network.hpp
  src/ecs/systems/DeathUpdate.hpp
  src/ecs/systems/PositionUpdate.hpp
  src/ecs/systems/PushClientMovement.hpp
  src/server/CMakeLists.txt
  src/server/IServer.hpp
  src/server/Server.cpp
  src/server/Server.hpp
  src/server/entrypoint.cpp
Labels: SERVER

#68 Feat/client/parallax background
  assets/textures/bg1.png
  assets/textures/bg2.png
  assets/textures/bg3.png
  src/client/entrypoint.cpp
  src/ecs/components/client/Animated.hpp
  src/ecs/components/client/CMakeLists.txt
  src/ecs/components/client/Parallax.hpp
  src/ecs/systems/client/CMakeLists.txt
  src/ecs/systems/client/Draw.hpp
  src/ecs/systems/client/HandleParallaxBounds.hpp
Labels: CLIENT, GUI

#64 asset loader and lib animation
  .github/workflows/ci.yml
  assets/config.ini
  src/client/Animation.cpp
  src/client/Animation.hpp
  src/client/AssetLoader.cpp
  src/client/AssetLoader.hpp
  src/client/CMakeLists.txt
  src/client/entrypoint.cpp
  src/ecs/AssetManager.hpp
  src/ecs/Engine.hpp
  src/ecs/components/client/Drawable.hpp
  src/ecs/systems/client/Animate.hpp
  src/ecs/systems/client/Draw.hpp
  src/ecs/systems/client/HandleIncomingMessages.hpp
  src/ecs/systems/client/SendDirection.hpp
Labels: CLIENT, GUI
