Repository TEAM-AAAAAAAAAAAAAAAA/RTYPE, pull requests merged in 2022-11, with the labels that each got.

#77 Feat/death
  src/client/entrypoint.cpp
  src/ecs/Registry.hpp
  src/ecs/systems/CMakeLists.txt
  src/ecs/systems/PushClientMovement.hpp
  src/ecs/systems/ServerPush.hpp
  src/ecs/systems/client/HandleIncomingMessages.hpp
  src/ecs/systems/server/DeathUpdate.hpp
  src/ecs/systems/server/HandleIncomingMessage.hpp
  src/ecs/systems/server/ProjectileCollision.hpp
  src/server/entrypoint.cpp
Labels: bug, ECS

#86 Music asset manager
  .gdb_history
  .github/workflows/ci.yml
  .github/workflows/publish_release.yml
  CMakeLists.txt
  assets/audio/bgm/bgm1.ogg
  assets/audio/sfx/laser.ogg
  assets/audio/sfx/splash_screen.ogg
  assets/config.ini
  src/client/AssetLoader.hpp
  src/client/AudioManager.cpp
  src/client/AudioManager.hpp
  src/client/CMakeLists.txt
  src/client/NetworkClient.cpp
  src/client/entrypoint.cpp
Labels: CLIENT

#98 Feat/79 rebindkeys
  .gitignore
  assets/audio/sfx/button_hover.ogg
  assets/config.ini
  src/client/AssetLoader.cpp
  src/client/AssetLoader.hpp
  src/ecs/systems/client/HandleIncomingMessages.hpp
  src/utils/CMakeLists.txt
  src/utils/InputMap.cpp
  src/utils/InputMap.hpp
  src/utils/Window.hpp
Labels: CLIENT

#92 Feat/hud
  .github/workflows/ci.yml
  CMakeSettings.json
  assets/config.ini
  assets/textures/buttons/button_earth.png
  assets/textures/buttons/menu.jpg
  assets/textures/buttons/menu.png
  src/client/GetWorld.cpp
  src/ecs/components/CMakeLists.txt
  src/ecs/components/Health.hpp
  src/ecs/components/Score.hpp
  src/ecs/components/client/Text.hpp
  src/ecs/systems/client/CMakeLists.txt
  src/ecs/systems/client/Draw.hpp
  src/ecs/systems/client/HandleIncomingMessages.hpp
  src/ecs/systems/client/HealthBar.hpp
  src/ecs/systems/client/ScoreUpdate.hpp
  src/ecs/systems/server/HandleIncomingMessage.hpp
  src/ecs/systems/server/PlayerHealthUpdate.hpp
  src/server/entrypoint.cpp
  src/utils/Constant.hpp
Labels: CLIENT, GUI

#103 Feat/add sfx
  assets/audio/bgm/lobby_bgm.ogg
  assets/audio/sfx/button_click.ogg
  assets/config.ini
  src/client/GetWorld.cpp
  src/client/entrypoint.cpp
  src/ecs/systems/client/HandleSFMLEvents.hpp
Labels: CLIENT, GUI

#111 rtor: better cut out menu.png
  assets/textures/buttons/menu.png
Labels: bug, documentation, duplicate, BUILD, ECS, CLIENT, GUI, RFC, SERVER, wontfix, GAME LOGIC
